<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="height= auto width=device-width, initial-scale=1.0">
    <title>METCON Depot</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">METCON</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/home}" th:text="#{nav_bar_home}">Home</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav_bar_services}">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/containers/all}" th:text="#{nav_bar_storage}">Storage</a></li>
                            <li><a class="dropdown-item" th:href="@{/companies/all}" th:text="#{nav_bar_companies}">Companies</a></li>
                            <li><a class="dropdown-item" th:href="@{/containers/requests/all}" th:text="#{nav_bar_requests}">Requests</a></li>
                            <li><a class="dropdown-item" th:href="@{/containers/tasks/all}" th:text="#{nav_bar_tasks}">Tasks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}" th:text="#{nav_bar_about}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacts}" th:text="#{nav_bar_contacts}">Contacts</a>
                    </li>
<!--                    <li class="nav-item" sec:authorize="!isAuthenticated()">-->
<!--                        <a class="nav-link" th:href="@{/login}" th:text="#{nav_bar_login}">Login</a>-->
<!--                    </li>-->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/register}" th:text="#{nav_bar_register}">Register</a>
                    </li>
                </ul>
                <form th:method="get" class="d-flex">
                    <label class="nav-link" for="lang" th:text="#{nav_bar_language}">Language</label>
                    <select class="nav-link" id="lang" name="lang"
                            onchange="this.form.submit()"
                    >
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
                <div class="d-flex" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-primary btn-block" th:href="@{/login}" th:text="#{nav_bar_login}">Login</a>
                </div>
                <form th:method="post" class="d-flex" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-primary btn-block" th:text="#{nav_bar_logout}">Logout</button>
                </form>

            </div>

        </div>
    </nav>
</header>


<footer th:fragment="footer" class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">We secure your stock!</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Link 1</a></li>
                    <li><a href="#" class="text-dark">Link 2</a></li>
                    <li><a href="#" class="text-dark">Link 3</a></li>
                    <li><a href="#" class="text-dark">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        &copy; 2024 METCON Depot
    </div>
</footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script th:fragment="script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>