<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body style="background-image: url('/images/bg_1.jpg')">
    <!-- Navbar -->
    <header th:replace="fragments/commons::header"></header>

    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4 mb-3">Welcome to METCON Depot</h1>
        <p class="lead">Within the area of 18 000 sq. m and a capacity of more than 1 500 TEUs, the depot hub is an essential part of the container supply chain. We are offering full scope of storage and supporting services for the carrier’s equipment.
            24 hours live security and Security system including video surveillance (CCTV). Controlled access for persons and vehicles.</p>
        <a class="btn btn-primary btn-lg mb-3" href="#" role="button">Learn more</a>
    </div>

    <!-- Card Grid Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/storage.jpg" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">STORAGE OF EMPTIES</h5>
                        <p class="card-text">Availability to store about 1500 TEU.</p>
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/cleaning.jpg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">DRY & WET CLEANING</h5>
                        <p class="card-text">Professional equipment, designated drying storage area.</p>
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/images/repairs.jpg" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">EQUIPMENT REPAIRS</h5>
                        <p class="card-text">Expert teams perform maintenance and repairs at a budget rates in order to keep containers in seaworthy condition.</p>
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="fragments/commons::footer"></footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script th:replace="fragments/commons::script"></script>
    </body>
</html>