<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body style="background-image: url('/images/bg_1.jpg')">
    <!-- Navbar -->
    <header th:replace="fragments/commons::header"></header>

    <div class="container mt-5">
        <h2 class="text-center mb-4">All containers</h2>
        <a class="btn btn-primary btn-sm mb-1" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/containers/add}" role="button">Add container</a>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-primary">
                    <tr>
                        <th>ID</th>
                        <th>Container No.</th>
                        <th>Type</th>
                        <th>Damaged</th>
                        <th>Company</th>
                        <th>Date/time received</th>
                        <th>Received By Truck</th>
                        <th>Date/time released</th>
                        <th>Released to truck</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="container : ${allContainersPaged.getContent()}">
                        <td th:value="${container.getId()}" th:text="${container.getId()}">1</td>
                        <td th:value="${container.number}" th:text="${container.number}">Data 1</td>
                        <td th:value="${container.type}" th:text="${container.type}">Data 2</td>
                        <td th:value="${container.getDamaged()}" th:text="${container.getDamaged()}">Data 3</td>
                        <td th:value="${container.getOwner()}" th:text="${container.getOwner()}">Data 4</td>
                        <td th:value="${container.received}" th:text="${container.received}">Data 5</td>
                        <td th:value="${container.receivedByTruck}" th:text="${container.receivedByTruck}">Data 6</td>
                        <td th:value="${container.released}" th:text="${container.released}">Data 7</td>
                        <td th:value="${container.releasedToTruck}" th:text="${container.releasedToTruck}">Data 8</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form
                                      th:method="delete"
                                      th:action="@{/containers/delete/{id}(id=${container.id})}" role="group">
                                    <a type="button" class="btn btn-primary btn-sm" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/containers/edit/{id}(id=${container.id})}">Edit</a>
                                    <button type="submit" class="btn btn-danger btn-sm" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:href="@{'/containers/all/page/' + ${i}}" >[[${i}]]</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="fragments/commons::footer"></footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script th:replace="fragments/commons::script"></script>
</body>
</html>