<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body style="background-image: url('/images/bg_1.jpg')">
    <!-- Navbar -->
    <header th:replace="fragments/commons::header"></header>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Requests</h2>
        <a class="btn btn-primary btn-sm mb-1" th:href="@{/containers/requests/add}" role="button">Add request</a>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-primary">
                    <tr>
                        <th>ID</th>
                        <th>Request type</th>
                        <th>Container No.</th>
                        <th>Type</th>
                        <th>Truck</th>
                        <th>Company</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="request : ${allRequests}">
                        <td th:value="${request.id}" th:text="${request.id}">1</td>
                        <td th:value="${request.type}" th:text="${request.type}">Data 1</td>
                        <td th:value="${request.containerNumber}" th:text="${request.containerNumber}">Data 2</td>
                        <td th:value="${request.containerType}" th:text="${request.containerType}">Data 3</td>
                        <td th:value="${request.truck}" th:text="${request.truck}">Data 4</td>
                        <td th:value="${request.getCompany().getNameEn()}" th:text="${request.getCompany().getNameEn()}">Data 5</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form th:method="delete"
                                      th:action="@{/containers/requests/delete/{id}(id=${request.id})}">
                                    <a class="btn btn-primary btn-sm" th:href="@{/containers/requests/edit/{id}(id=${request.id})}" role="button">Edit</a>
                                    <a class="btn btn-success btn-sm" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/containers/tasks/add(id=${request.id})}" role="button">Create task</a>
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="fragments/commons::footer"></footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script th:replace="fragments/commons::script"></script>
</body>
</html>