<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<!-- Navbar -->
<header th:replace="fragments/commons::header"></header>
<!-- Add Container Manually Form -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Edit container</h2>
            <form
                    th:method="post"
                    th:action="@{/containers/edit/{id}(id=*{id})}"
                    th:object="${containerAddData}"
            >
                <div class="col-md-4">
                    <label for="id" class="form-label">Container ID.</label>
                    <input readonly type="text" class="form-control-plaintext" id="id" name="id" th:value="*{id}">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Container number</label>
                    <input type="text" class="form-control" id="number" name="number"
                           th:value="*{number}"
                           required
                    />
                    <small class="invalid-feedback text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('number')}" th:text="${err}"></li>
                        </ul>
                    </small>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Container type</label>
                    <select class="form-select" id="type" name="type" required
                    >
                        <option th:value="*{type}" th:text="*{type}">Select type</option>
                        <option
                                th:each="type: ${allContainerTypes}"
                                th:value="${type}"
                                th:text="${type}">
                            Container type
                        </option>
                    </select>
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('type')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="isDamaged" name="isDamaged" th:value="*{isDamaged()}">
                    <label class="form-check-label" for="isDamaged">Damaged</label>
                </div>
                <div class="mb-3">
                    <label for="owner">Company</label>
                    <select class="form-select" id="owner" name="owner" required
                    >
                        <option th:value="*{owner}" th:text="*{owner}">Select company</option>
                        <option
                                th:each="name: ${allCompaniesNames}"
                                th:value="${name}"
                                th:text="${name}">
                            Company name
                        </option>
                    </select>
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('owner')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <div class="mb-3">
                    <label for="received" class="form-label">Container received</label>
                    <input type="datetime-local" class="form-control" id="received" name="received"
                           th:value="*{received}"
                    >
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('received')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <div class="mb-3">
                    <label for="receivedByTruck" class="form-label">Received by truck</label>
                    <input type="text" class="form-control" id="receivedByTruck" name="receivedByTruck"
                           th:value="*{receivedByTruck}"
                    >
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('receivedByTruck')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <div class="mb-3">
                    <label for="released" class="form-label">Container released</label>
                    <input type="datetime-local" class="form-control" id="released" name="released"
                           th:value="*{released}"
                    >
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('released')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <div class="mb-3">
                    <label for="releasedToTruck" class="form-label">Released to truck</label>
                    <input type="text" class="form-control" id="releasedToTruck" name="releasedToTruck"
                           th:value="*{releasedToTruck}"
                    >
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('releasedToTruck')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small>-->
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments/commons::footer"></footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script th:replace="fragments/commons::script"></script>
</body>
</html>