<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METCON Depot</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <header th:replace="fragments/commons::header"></header>

    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to METCON Depot</h1>
        <p class="lead">Within the area of 18 000 sq. m and a capacity of more than 1 500 TEUs, the depot hub is an essential part of the container supply chain. We are offering full scope of storage and supporting services for the carrier’s equipment.
            24 hours live security and Security system including video surveillance (CCTV). Controlled access for persons and vehicles.</p>
        <a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Login to continue...</a>
    </div>

    <!-- Footer -->
    <header th:replace="fragments/commons::footer"></header>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>