<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<!-- Navbar -->
<header th:replace="fragments/commons::header"></header>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h2 class="text-center mb-4">Edit request</h2>
            <form class="row g-3"
                  th:method="post"
                  th:action="@{/containers/requests/edit/{id}(id=${requestId})}"
                  th:object="${requestAddData}"
            >
                <div class="col-md-4">
                    <label for="containerNumber" class="form-label">Request ID.</label>
                    <input readonly type="text" class="form-control-plaintext" id="id" name="id" th:value="${requestId}">
                </div>
                <div class="col-md-3">
                    <label for="type" class="form-label">Request type</label>
                    <select class="form-select" id="type" name="type" required>
                        <option th:value="${requestDto.type}" th:text="${requestDto.type}">Select type</option>
                        <option
                                th:each="type: ${allRequestTypes}"
                                th:value="${type}"
                                th:text="${type}">
                            Container type
                        </option>
                    </select>
<!--                    <small class="invalid-feedback text-danger">-->
<!--                        <ul>-->
<!--                            <li th:each="err : ${#fields.errors('type')}" th:text="${err}"></li>-->
<!--                        </ul>-->
<!--                    </small> TODO show valdations to FE plus existing request validation!-->
                </div>
                <div class="col-md-4">
                    <label for="containerNumber" class="form-label">Container No.</label>
                    <input type="text" class="form-control" id="containerNumber" name="containerNumber" th:value="${requestDto.containerNumber}">
                </div>
                <div class="col-md-4">
                    <label for="containerType" class="form-label">Container type</label>
                    <select class="form-select" id="containerType" name="containerType" required>
                        <option th:value="${requestDto.containerType}" th:text="${requestDto.containerType}">Select type</option>
                        <option
                                th:each="type: ${allContainerTypes}"
                                th:value="${type}"
                                th:text="${type}">
                            Container type
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="truck" class="form-label">Truck No.</label>
                    <input type="text" class="form-control" id="truck" name="truck" th:value="${requestDto.truck}">
                </div>
                <button type="submit" class="btn btn-primary">Edit request</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="fragments/commons::footer"></footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script th:replace="fragments/commons::script"></script>
</body>
</html>