<!DOCTYPE html>
<html th:replace="fragments/commons::html"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METCON Depot</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <header th:replace="fragments/commons::header"></header>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Sign Up</h2>
                <form th:method="post"
                      th:action="@{/sign-up}"
                      th:object="${signUpData}"
                >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required
                               th:field="*{username}"
                               th:errorclass="'is-invalid alert-danger'"
                        >
                        <small class="invalid-feedback text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                            </ul>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required
                               th:field="*{email}"
                               th:errorclass="'is-invalid alert-danger'"
                        >
                        <small class="invalid-feedback text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                            </ul>
                        </small>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required
                                   th:errorclass="'is-invalid alert-danger'"
                            >
                            <small class="invalid-feedback text-danger">
                                <ul>
                                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                                </ul>
                            </small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required
                                   th:errorclass="'is-invalid alert-danger'"
                            >
                            <small class="invalid-feedback text-danger">
                                <ul>
                                    <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                                </ul>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First name" required
                               th:field="*{firstName}"
                               th:errorclass="'is-invalid alert-danger'"
                        >
                        <small class="invalid-feedback text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                            </ul>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last name" required
                               th:field="*{lastName}"
                               th:errorclass="'is-invalid alert-danger'"
                        >
                        <small class="invalid-feedback text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                            </ul>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <!--                        <input type="text" class="form-control" id="company" placeholder="Enter company name">-->
                        <select class="form-control" id="company" name="company" required
                                th:field="*{company}"
                                th:errorclass="'is-invalid alert-danger'">
                            <option value="">Select company</option>
                            <option
                                    th:each="name: ${allCompaniesNames}"
                                    th:value="${name}"
                                    th:text="${name}">
                                Company name
                            </option>
                        </select>
                        <small class="invalid-feedback text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('company')}" th:text="${err}"></li>
                            </ul>
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <header th:replace="fragments/commons::footer"></header>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>